/* .input-group {
  width: 70% !important;
} */

/* form {
  display: flex;
  justify-content: center;
}

.form-control {
  width: 40% !important;
} */

body {
  overflow-x: scroll;
  overflow-y: scroll;
}

@media only screen and (max-width: 991px) {
  .hide-large-text {
    display: none;
  }

  #results-col {
    text-align: center;
  }
}
