/* .input-group {
  width: 70% !important;
} */

/* form {
  display: flex;
  justify-content: center;
}

.form-control {
  width: 40% !important;
} */

body {
  overflow-x: scroll;
  overflow-y: scroll;
}

